/*
#141635 blue
#fb5352 pink
*/

html,
body {
  /* padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: #fff;
}
* {
  /* box-sizing: border-box; */
}
.index-main-container {
  /* background: #fff; */
}
.index-search-container {
  background-image: url('../public/background-img1.jpg');
  width: 100%;
  /* height: 650px; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}
.index-search-content {
  text-align: center;
  color: white;
}
.index-search-content-text {
  color: #fff;
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 120px;
}
.index-search-input-form {
  width: 40%;
  height: 50px;
  border-radius: 250px;
  border-width: 0px;
  background: #fff;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-self: center;
  /* flex: 1; */
}
.index-search-input {
  /* border-radius: 250px; */
  border-style: none;
  flex: 4;
  outline: #fff;
  font-size: 16px;
  padding-left: 12px;
}
.index-search-select {
  border-style: solid;
  border-radius: 250px;
  flex: 1;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}
.index-search-button {
  display: flex;
  color: #fff;
  background: #fb5352;
  border-radius: 250px;
  border-width: 0px;
  align-items: center;
  justify-content: center;
  flex: 2;
  font-weight: bold;
  font-size: 16px;
}
/* Menu Style */
.menu-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #141635;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 98.8%;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: #141635 #141635 #fff #141635;
}
.menu-logo-container {
  display: flex;
  flex-direction: row;
}
.menu-logo-img {
  width: 50px;
  height: 50px;
}
.menu-logo-text {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin: 15px;
}
.menu-options-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.menu-options-container a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
  border-width: 1px;
  border-color: black;
}
.menu-options-container a:hover {
  color: #fb5352;
}
.menu-search-container {
  width: 35%;
}
.menu-search-input {
  background-color: #141635;
  color: #fff;
  width: 100%;
  border-width: 0px 0px 1px 0px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
}

/* Footer Style */
.footer-main-container {
  width: 100%;
  background: #141635;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-contact-view {
  display: flex;
  flex-direction: column;
}
.footer-contact-view-title {
  color: #fff;
  margin-top: 25px;
}
.footer-contact-view-text {
  color: #fff;
}
.footer-map-view {
  display: flex;
  flex-direction: column;
}
.footer-map {
  width: 400px;
  height: 200px;
  background: rgb(191, 233, 92);
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Property Style */
.property-main-container {
  display: flex;
  color: #fff;
}
.property-cover-img {
  border-radius: 12px;
  border-width: 1px;
  border-color: #fff;
  margin-top: 10px;
}
.property-cover-container {
  display: flex;
  justify-content: center;
}
.property-card {
  width: 420px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  background: #141635;
  margin: 5px;
  color: #fff;
}
.property-card-content {
  
  padding-top: 2px;
}
.property-card-content-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.property-card-content-price-text {
  font-weight: bold;
  font-size: large;
}
.property-card-agency-logo {
  /* align-items: center; */
}
.property-card-agency-img {
  border-radius: 360px;
  width: 35px;
  height: 35px;
}
.property-card-baths {
  padding-left: 10px;
  margin-top: 35px;
  color: #fff;
}
.property-card-verified {
  padding-right: 3px;
}
.properties-for-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.property-card-bottom-description {
  margin-left: 10px;
}
/* Home Rent Header  */
.home-rent-header-container {
  text-align: center;
  padding: 1px;
}
.home-rent-header-text {  
  font-size: 55px;
  font-weight: lighter;
  color: #000;
}
